[submodule "Program/helloworld.js"]
	path = Program/helloworld.js
	url = git@github.com:AppleBoiy/helloworld.js.git
[submodule "Program/helloworld.sh"]
	path = Program/helloworld.sh
	url = git@github.com:AppleBoiy/helloworld.sh.git
[submodule "Program/helloworld.java"]
	path = Program/helloworld.java
	url = git@github.com:AppleBoiy/helloworld.java.git
[submodule "Program/helloworld.py"]
	path = Program/helloworld.py
	url = git@github.com:AppleBoiy/helloworld.py.git
