[submodule "Program/helloworld.js"]
	path = Program/helloworld.js
	url = git@github.com:AppleBoiy/helloworld.js.git
[submodule "Program/helloworld.sh"]
	path = Program/helloworld.sh
	url = git@github.com:AppleBoiy/helloworld.sh.git
[submodule "Program/helloworld.java"]
	path = Program/helloworld.java
	url = git@github.com:ape-playground/helloworld.java.git
[submodule "Program/helloworld.py"]
	path = Program/helloworld.py
	url = git@github.com:ape-playground/helloworld.py.git
[submodule "Program/helloworld.c"]
	path = Program/helloworld.c
	url = git@github.com:ape-playground/helloworld.c.git
[submodule "Program/helloworld.cpp"]
	path = Program/helloworld.cpp
	url = git@github.com:ape-playground/helloworld.cpp.git
[submodule "Program/helloworld.cs"]
	path = Program/helloworld.cs
	url = git@github.com:ape-playground/HelloWorld.cs.git
